* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0f2f;
  color: #fff;
}

/* HERO */
.hero {
  min-height: 100vh;
  background: linear-gradient(180deg, #1c235a, #0b0f2f);
  padding: 40px 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.login {
  border: 1px solid #fff;
  padding: 6px 16px;
  border-radius: 20px;
}

.hero-content {
  max-width: 500px;
  margin-top: 120px;
}

.hero-content h1 {
  font-size: 96px;
  font-weight: 700;
}

.hero-content h1 span {
  color: #ff7a18;
}

.hero-content p {
  margin: 20px 0;
  font-size: 14px;
  opacity: 0.9;
}

.hero-content button {
  background: #ff7a18;
  border: none;
  padding: 12px 26px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

/* ACTIVITIES */
.activities {
  padding: 100px 60px;
}

.activities h2 {
  font-size: 40px;
  line-height: 1.1;
}

.subtitle {
  max-width: 500px;
  font-size: 14px;
  margin: 20px 0 60px;
  opacity: 0.8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.card img {
  width: 130px;
  margin-bottom: 25px;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.3));
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.card button {
  background: #ff7a18;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

/* GALLERY */
.gallery {
  padding: 80px 60px;
  background: #0a0e2a;
}

.gallery h2 {
  font-size: 40px;
  line-height: 1.1;
}

.gallery p {
  max-width: 500px;
  font-size: 14px;
  margin-top: 20px;
  opacity: 0.8;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .hero {
    padding: 30px;
  }

  .hero-content h1 {
    font-size: 64px;
  }

  .menu {
    display: none;
  }

}
